apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflare-ddns
  labels:
    app: cloudflare-ddns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cloudflare-ddns
  template:
    metadata:
      labels:
        app: cloudflare-ddns
    spec:
      containers:
      - name: cloudflare-ddns
        image: favonia/cloudflare-ddns:latest
        env: 
          - name: CLOUDFLARE_API_TOKEN
            valueFrom:
              secretKeyRef:
                name: cf-ddns-secret
                key: cf-ddns-token
          - name: DOMAINS
            value: joshuadallacqua.com,*.joshuadallacqua.com
          - name: PROXIED
            value: "false"
          - name: IP6_PROVIDER
            value: none

